<%- include('./partials/header.ejs', { name: 'Movies' }) %>

    <h1 class="index-heading">Movies</h1>
    <div class="index-outer-div">
        <% for (let i = 0; i < Movies.length; i++) { %>
            <div class="index-inner-div">
                <a href="Movies/<%= Movies[i]._id %>" class="index-link">
                    <img src=<%= Movies[i].image %> alt="Image of Original <%= Movies[i].title %> Poster" class="index-img">
                    <h1><%= Movies[i].title %></h1>
                </a>
            </div>
        <% } %>
    </div>
    <div class="index-add-div">
        <a href="/movies/new" class="index-add-link">Add A Movie</a>
    </div>

<%- include('./partials/footer.ejs') %>