<%- include('./partials/header.ejs', {name: 'Movies'}) %>

<h1 class="index-header">Movies</h1>
<div class="index-div-container">
    <% for(let i = 0; i < movies.length; i++) { %>
        <div class="index-div-all-movies">
            <a href="movies/<%= movies[i]._id %>" class="index-link">
                <img src=<%= movies[i].image %> alt="Image of Original <%= movies[i].title %> Poster" class="index-img">
                <h1> <%= movies[i].title %></h1>
            </a>
        </div>
    <% } %>
</div>
<div class="index-add-link-container">
    <a href="/movies/new" class="index-add-link">Add A Movie</a>
</div>

<%- include('./partials/footer.ejs') %>