<%- include('./partials/header.ejs', {name: movie.title}) %>

    <div class="show-outerdiv-container">
        <h1 class="show-h1">
            <%= movie.title %>
        </h1>
        <h3>Director: <%= movie.director %></h3>
        <h3>Runtime: <%= movie.runtime %> minutes</h3>
        <h3>Rotten Tomatoes: <%= movie.rottenTomatoes %>%</h3>
        <h3>Release Date: <%= movie.releaseDate %></h3>
        <h3>Genre: <%= movie.genre %></h3>
        <div class="show-innerdiv-container">
            <a href="/movies/<%= movie._id %>/edit" class="show-edit-link">Edit</a>
            <a href="/movies/<%= movie._id %>/delete" class="show-delete-link">Delete</a>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>