<%- include('./partials/header.ejs', { name: Movie.title }) %>

    <div class="show-outer-div">
        <h1 class="show-heading"><%= Movie.title %></h1>
        <p><span id="bold">Director: </span><%= Movie.director %></p>
        <p><span id="bold">Runtime: </span><%= Movie.runtime %> minutes</p>
        <p><span id="bold">Rotten Tomatoes: </span><%= Movie.rottenTomatoes %>%</p>
        <p><span id="bold">Release Date: </span><%= Movie.releaseDate %></p>
        <p><span id="bold">Genre: </span><%= Movie.genre %></p>
        <iframe width="560" height="315" src="<%= Movie.trailer %>" title="<%= Movie.title %> Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="trailer"></iframe>
        <div class="show-inner-div">
            <a href="/movies/<%= Movie._id %>/edit" class="show-edit-link">Edit</a>
            <a href="/movies/<%= Movie._id %>/delete" class="show-delete-link">Delete</a>
            <a href="/movies" class="show-back-link">Back</a>
        </div>
    </div>

<%- include('./partials/footer.ejs') %>