<%- include('./partials/header.ejs', {name: movies[0].genre}) %>

<h1 class="show-genre-header">Movies By Genre</h1>
<div class="show-genre-div-container">
    <% for(let i = 0; i < movies.length; i++) { %>
        <div class="show-genre-div-all-movies">
            <a href="/movies/<%= movies[i]._id %>" class="show-genre-link">
                <img src=<%= movies[i].image %> alt="Image of Original <%= movies[i].title %> Poster" class="index-img">
                <h1> <%= movies[i].title %></h1>
            </a>
        </div>
    <% } %>
</div>
<div class="show_genre-add-link-container">
    <a href="/movies/new" class="show_genre-add-link">Add A Movie</a>
</div>

<%- include('./partials/footer.ejs') %>